@{
    ViewBag.Title = "IT WiGs";
}

<div class="jumbotron">
    <h1>WiGs</h1>    
</div>

<div class="container">
    <div class="row">
        <div id="securityContainer" class="col-md-5 col-md-offset-1">
            <h2 class="bad">Security</h2>
            <svg id="SecurityBurndown" width="450" height="225" class="BDchart"></svg>
            <p>WiG: BeyondTrust deployed to all employee computers by Oct 1st.</p>
        </div>
        <div class="col-md-1">&nbsp;</div>
        <div id="dataContainer" class="col-md-5">
            <h2 class="good">Data</h2>
            <svg id="DataBurndown" width="450" height="225" class="BDchart"></svg>
            <p>WiG: Have all reports running in RS 2012 by Oct 1st.</p>
        </div>        
    </div>
    <div class="row">
        <div id="ITContainer" class="col-md-5 col-md-offset-1">
            <h2 class="good">IT - internal</h2>
            <svg id="ITBurndown" width="450" height="225" class="BDchart"></svg>
            <p>WiG: Have all employees on Office 365 by Dec 31st.</p>
        </div>
        <div class="col-md-1">&nbsp;</div>
        <div id="OpsContainer" class="col-md-5">
            <h2 class="bad">Operations</h2>
            <svg id="OpsBurndown" width="450" height="225" class="BDchart"></svg>
            <p>WiG: Move all customers out of the 7Medical Data Center by Aug 1st.</p>
        </div>        
    </div>    
</div>
@section Scripts {
    @Scripts.Render("~/bundles/appJS")
}
